* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: transparent;
}

button {
    border-radius: 8;
    border-color: #f9c784;

	text-decoration-color: #3c2816;
    color: #f9c784;
    background-color: #3c2816;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #3c2816;
	outline-style: none;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));

}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}
