/* #syshud { */
/* 	background: transparent; */
/* } */
#window
{background:transparent;}

#syshud .box_layout {
	background: #282828;
	border-radius: 25px;
	border: 1px solid #ebdbb2;
	margin: 10px;
}

#syshud scale {
	margin: 0px;
	padding: 0px;
}
#syshud label {
	color:#ebdbb2;
}

/* Scale */
#syshud scale {
	padding: 0px;
	min-height: 5px;
	min-width: 5px;
}
#syshud scale trough {
	border-radius: 3px;
	background: #ebdbb2;
	min-height: 5px;
	min-width: 5px;
	padding: 0px;
}
#syshud scale.horizontal highlight {
	border-radius: 3px;
	min-height: 5px;
	min-width: 5px;
	background: #9c9d8a;
	margin: 0px;
}

/* Levels */
#syshud .muted {
    color:#7d7c80;
}
#syshud .low {
}
#syshud .medium {
}
#syshud .high {
}


